<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gulp构建ES6</title>
    <link rel="stylesheet" href="../../styles/index/index.css">
</head>
<body>
    <header>
        <div class="container">
          <nav>
                <li><a href="#">首页</a></li>
                <li><a href="#">公募基金</a></li>
                <li><a href="#">私募基金</a></li>
                <li><a href="#">招贤纳士</a></li>
                <li><a href="#">关于我们</a></li>
          </nav>
          <div class="clear"></div>
        </div>
    </header>
    <div class="wrapper">
        <div class="container">
           
        </div>
    </div>
    <footer>
        <div class="container">
            <p>小胖出品</p>
        </div>
    </footer>
    <script type="../../scripts/index/index.js"></script>
</body>
</html>